<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Criar novo Professor</title>
</head>

<body>
<h1>Criar Professor</h1>
<p><a th:href="@{/}">Início</a>/<a th:href="@{/professor}">Professor</a>/Novo</p>
<br>
<form th:action="@{/professor/criar}" th:object="${entidade}" method="post">
    <label for="nome">Nome</label>
    <div class="">
        <input id="nome" type="text" placeholder="nome"    th:field="*{nome}">
    </div>
    <label for="sobrenome">Sobrenome</label>
    <div class="">
        <input id="sobrenome" type="text" placeholder="sobrenome"  th:field="*{sobrenome}">
    </div>
    <div >
        <button type="submit" id="btn">Criar</button>
    </div>
    <br>
    <p th:text="${erro}"></p>
</form>
</body>
</html>